<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heba.testproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Choosing" />
        <activity
            android:name=".StudentLoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Student"
            android:parentActivityName=".ChooseActivity" />
        <activity
            android:name=".DocLoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Doctor"
            android:parentActivityName=".ChooseActivity" />
        <activity
            android:name=".StudentRegActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Reg"
            android:parentActivityName=".StudentLoginActivity" />
        <activity
            android:name=".DocRegActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:parentActivityName=".DocLoginActivity" />
        <activity
            android:name=".Subject_StudentActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="Subjects" />
        <activity
            android:name=".eval_questionsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:parentActivityName=".Subject_StudentActivity" />
        <activity android:name=".DoctorGraphActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity
            android:configChanges="keyboard|orientation|screenSize"
            android:name=".DoctorActivity"
            android:label="@string/title_activity_doctor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>